.env
/arquitetura.client/obj/Debug
/.vs
/services/Pedidos/Pedidos.Api/bin/Debug/net10.0
/services/Pedidos/Pedidos.Api/obj
/services/Pedidos/Pedidos.Application/bin/Debug/net10.0
/services/Pedidos/Pedidos.Application/obj
/services/Pedidos/Pedidos.Domain/bin/Debug/net10.0
/services/Pedidos/Pedidos.Domain/obj
/services/Pedidos/Pedidos.Infrastructure/bin/Debug/net10.0
/services/Pedidos/Pedidos.Infrastructure/obj
/services/Produtos/Produtos.Api/bin/Debug/net10.0
/services/Produtos/Produtos.Api/obj
/services/Produtos/Produtos.Application/bin/Debug/net10.0
/services/Produtos/Produtos.Application/obj
/services/Produtos/Produtos.Domain/bin/Debug/net10.0
/services/Produtos/Produtos.Domain/obj
/services/Produtos/Produtos.Infrastructure/bin/Debug/net10.0
/services/Produtos/Produtos.Infrastructure/obj
/shared/Arquitetura.SharedKernel/bin/Debug/net10.0
/shared/Arquitetura.SharedKernel/obj
/src/Arquitetura.Application/bin/Debug/net10.0
/src/Arquitetura.Application/obj
/src/Arquitetura.Domain/bin/Debug/net10.0
/src/Arquitetura.Domain/obj
/src/Arquitetura.Infrastructure/bin/Debug/net10.0
/src/Arquitetura.Infrastructure/obj
/Arquitetura.Server/bin/Debug/net10.0
/Arquitetura.Server/obj
